<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <% include ../partials/liveReload.ejs %>
  <title>Test Webpack</title>
</head>
<body>
  <p>Example change to the page</p>
  <p class='brick-house'>She is a brick. House...</p>
  <p>
    This image src is set through webpack:
    <img id="yay" />
  </p>
  <p>
    Where this image was set through scss
    <img class='thumbs-up' />
  </p>
  <script src="exampleJavascript.js"></script>
</body>
</html>
