<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <% include ../partials/liveReload.ejs %>
  <title>Test React</title>
</head>
<body>
    <p>Sample Message from express</p>
    <div id="app"></div>
    <script src="/exampleReact.js"></script>
</body>
</html>
