<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%if (settings.env === 'development') {%>
  <meta name="environment" value="livereload" />
  <script>
    document.write(
      '<script src="http://' +
      (location.host || 'localhost').split(':')[0] +
      ':35729/livereload.js?snipver=1"></' + 'script>'
    );
  </script>
  <% } else { %>
  <meta name="environment" value="production" />
  <% } %>
  <title>Test Webpack</title>
</head>
<body>
  <div id='clock'></div>
  <img id="yay" />
  <p>Something changed again 2:53pm</p>
  <script src="exampleJavascript.js"></script>
</body>
</html>
