<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <% include ../partials/liveReload.ejs %>
  <title>Test Webpack</title>
</head>
<body>
  <div id='clock'></div>
  <p>Timestamp: something changed 4:31pm</p>
  <p>
    This is set through the require in javascript:
    <img id="yay" />
  </p>
  <p>
    This was set through scss / sass
    <img class='thumbs-up' />
  </p>
  <p class='brick-house'>She is a brick. House...</p>
  <script src="exampleJavascript.js"></script>
</body>
</html>
