<!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/liveReload.ejs %>
    <title>reduxAsync</title>
  </head>
  <body>
      <div id="app"></div>
      <script src="/reduxAsync.js"></script>
  </body>
</html>