.container {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.title-bar {
    margin-top: 50px;
}

#title {
    position:relative;
    font-size:100px;
    z-index: 10;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 1) 0px 0px 4px;
}
.color-block {
    position: absolute;
    width: 100%;
    bottom:0px;
    z-index: 5;
    height: .4em;
}

#title-block {
    padding-left: 1em;
}

.notification-block {
    padding-left: 1em;
}

.title-notes .row{
    margin:20px;
}
.title-notes textarea{
    width: 100%;
    height: 100px;
}